<!DOCTYPE HTML>
<html>
  <head>
    <style>
      h1{
        text-align: center;
        margin-top: 20px !important;
      }
      #paint {
        border:3px solid red;
        width: 500px;
        height: 500px;
      }
      #predicted {
        font-size: 36px;
      }
    </style>
    <link rel="stylesheet" href="./static/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="./static/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="text-primary">NHẬN DẠNG CHỮ VIẾT TAY</h1>
      <img src='static/wellcome.jpg'/><br/>
      <a action='/tfjs' type="button" class="btn btn-outline-warning btn-lg" href="/tfjs">START</a>
    </div>
  </body>
</html>